*{
  margin: 0;
  padding: 0;
}
/* scherm settings */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;  
}

/* header settings */
h1 {
    font-size: 1.875rem;
    font-weight: 700;
}

h2 {
    padding-top: 0rem;
    padding-bottom: 1rem;
}

header {
    background-color: #876ec5;
    border-bottom: 1px solid #e5e7eb;
    padding: 1.5rem 0;
    margin-bottom: 2rem;
}

header .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* announcement settings */
.activity-item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f3f4f6;
}

.activity-dot {
    width: 1rem;
    height: 1rem;
    margin-top: 0.5rem;
    flex-shrink: 0;
}

.activity-dot.urgent {
    background-color: #d31515;
}

.activity-dot.spoed {
    background-color: #f97316;
}

.activity-dot.niet_urgent {
    background-color: #11dc0d;
}

---------------------------------------------------------
/* login pagina settings */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
